

.form-check-input:checked {
    background-color: rgb(255, 204, 0) !important;
    border-color: rgb(255, 204, 0) !important;
}

.form-check-input:focus { 
    outline-color: yellow !important; 
}

.form-check-input:focus::after { 
    background-image: linear-gradient(yellow, yellow) !important; 
}

.header {
    box-shadow: none !important;
}


.no-focus-outline .form-control:focus {
    border-color: rgb(216, 216, 216) !important;
    box-shadow: none !important;
}

.menu-icon-prop {
    color: black;
    size: 0cm;
}
